{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>My Wallet {% block title %} {% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
    

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
  </head>
  
  <body>
    
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Wallet</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">

          <form action="{% url  'logout' %}" method="POST">
            {% csrf_token %}
            <input
              type= "hidden" class="text text-capitalize"
              value="Sign out"
            />
            <button class="btn btn-danger btn-sm mt-3" type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </header>

<div class="container-fluid">
  <div class="row">
    {% include 'partials/_sidebar.html' %}


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% block content %} {% endblock %}

    </main>
  </div>
</div>



<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/feather.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  </body>
</html>
